body{

	background-color: hsl(0, 0%, 100%);
}


.badge{

	font-size: 25px;
	font-weight: 200;
}

.badge i {

	font-size: 20px;
	font-weight: 200;
}

.about-rating{

	font-size: 15px;
	font-weight: 500;
	margin-top: 10px;
}

.total-ratings{

	font-size: 12px;

}

.bg-custom{

	background-color: #198754 !important;
}

.progress{

	margin-top:10px;
	
}


.container {
  display: flex;
}

.title {
  flex: 1; /* Ravnomerno raspoređuje prostor između naslova */
}


