.container-fluid {
    margin: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-fluid .head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: rgb(184, 184, 184) solid 2px;
    padding: 10px;
}

.container-fluid .head .head-label {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color:rgb(17, 148, 185);
    margin: 0;
    padding: 20px;
}

.container-fluid .head svg {
    width: 20px;
    height: 20px;
    color: rgb(17, 148, 185);
}

.container-fluid .dashboard-body .table{
    margin: 35px 10px;
}

.container-fluid-menu-active{
    width: 85% !important;
    float: right;
}

.toastr-success {
    background-color: #00ff00; /* Boja za uspješne poruke */
    color: #ffffff;
  }
  
  .toastr-error {
    background-color: #ff0000; /* Boja za poruke o greškama */
    color: #ffffff;
  }
  