.container-fluid {
    margin: 50px;
    width: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.container-fluid .head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    border-bottom: rgb(184, 184, 184) solid 2px;
    padding: 20px;
}

.container-fluid .head .head-label {
    padding-left: 10px;
    font-size: 20px;
    font-weight: 600;
    color:rgb(17, 148, 185);
    margin: 0;
}

.container-fluid .head svg {
    width: 20px;
    height: 20px;
    color: rgb(17, 148, 185);
}

.student-profile {
    display: flex;
  }
  


.student-image {
  float: left;
  width: 35%; 
  padding-left: 100px;
  padding-top: 30px;
  padding-block: 30;
 
}

.student-image img {
  width: 100%; 
  height: auto; /* Automatsko prilagođavanje visine proporcionalno širini */
}

.student-info {
    padding-left: 150px;
    padding-top: 30px;
    color: rgb(17, 148, 185);
  }
  
.student-info h2 {
    margin: 0;
  }
  
.info-item {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
.info-item i {
    margin-right: 10px;
  }
  
.info-item span {
    color: rgb(0, 0, 0);
    
  }
  
.info-item strong {
    font-weight: bold;
  }
  